body{
    background-color: rgba(100, 20, 0, 0.1); 
    background-image: url("gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}